:root {
  --primary-color: #ffffff;
  --secondary-color: #1992d4;
  --primary-font-color: #000000;
  --content-font-color: #636363;
  --catskill-white: #e2e8f0;
  --fuel-yellow: #f0b429;
}

/* General styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 5fr;
  height: 100vh;
  background-color: var(--catskill-white);
}

.header {
  background-color: var(--primary-color);
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.side-bar {
  background-color: var(--secondary-color);
  grid-row: 1 / 3;
}

.content {
  grid-row: 2 / 3;
}
