@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --primary-color: #ffffff;
  --secondary-color: #1992d4;
  --primary-font-color: #000000;
  --content-font-color: #636363;
  --catskill-white: #e2e8f0;
  --fuel-yellow: #f0b429;
  --font-size-m: 1rem;
}

/* General styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Roboto", sans-serif;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 5fr;
  height: 100vh;
}

/* Header styles */

.header {
  background-color: var(--primary-color);
  position: relative;
  display: grid;
  grid-template-columns: minmax(250px, 2fr) 1fr;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  padding: 1em 3em;
  row-gap: 1.5em;
}

.search-bar-wrapper,
.profile-greeting-wrapper {
  display: flex;
  align-items: center;
  gap: 1em;
}

input[type="search"] {
  appearance: none;
  outline: none;
  border: none;
  background-color: var(--catskill-white);
  border-radius: 1em;
  padding-inline: 1em;
  line-height: 2.2;
  width: 80%;
}

input[type="search"]:focus::placeholder {
  color: transparent;
}

.profile-settings-wrapper,
.content-update-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5em;
}

.greeting-message {
  display: block;
  margin-bottom: 4px;
  font-size: 0.8rem;
}

.profile-settings-wrapper p {
  font-size: var(--font-size-m);
}

.profile-greeting-wrapper p {
  font-size: 1.5rem;
}

.header button {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  cursor: pointer;
  outline: none;
  border: none;
  padding-block: 10px;
  width: 5.5rem;
  border-radius: 16px;
  font-weight: 700;
}

.header button:hover {
  filter: brightness(95%);
}

/* Sidebar styles */

.side-bar {
  background-color: var(--secondary-color);
  display: grid;
  grid-row: 1 / 3;
  grid-template-rows: 80px 1fr;
  padding: 1em;
}

.side-bar .logo {
  display: flex;
  align-items: center;
  align-self: start;
  font-size: 1.5rem;
  color: var(--primary-color);
  gap: 8px;
  letter-spacing: 1px;
}

.main-links,
.helper-links {
  display: flex;
  flex-direction: column;
  gap: 1em;
  list-style: none;
  color: var(--primary-color);
  font-size: 1.3rem;
  font-weight: 500;
}

.main-links {
  margin-bottom: 3em;
}

.main-links a,
.helper-links a {
  display: flex;
  align-items: center;
  margin-left: 12px;
  gap: 24px;
  text-decoration: none;
}

/* Content styles */

.content {
  background-color: var(--catskill-white);
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 1em;
  gap: 2em;
}

.projects-section {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  display: grid;
  grid-template-rows: 40px 1fr;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2em;
}

.section-title {
  font-size: 1.2rem;
  font-weight: 500;
}

.cards .title {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 5px;
  padding-top: 1rem;
}

.card-content {
  font-size: 0.8rem;
  color: var(--content-font-color);
}

.action-buttons {
  align-self: flex-end;
  cursor: pointer;
  display: flex;
  gap: 1em;
  padding-block: 8px;
}

/* Announcement and Trending section styles */

.announcements-section {
  display: grid;
  grid-template-rows: 40px 1fr;
}

.announcements-card {
  background-color: var(--primary-color);
  border-radius: 12px;
}

.trending-section {
  display: grid;
  grid-template-rows: 40px 1fr;
}

.trending-card {
  background-color: var(--primary-color);
  border-radius: 12px;
}

/* Link styles */

.main-links a:visited,
.helper-links a:visited {
  color: var(--primary-color);
}

.main-links a:hover,
.helper-links a:hover {
  filter: brightness(90%);
}

/* Utilities */

.icon {
  height: 24px;
}

.avatar {
  border-radius: 50%;
  background-color: var(--fuel-yellow);
  flex-shrink: 0;
}

.avatar img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}

.avatar-small {
  height: 34px;
  width: 34px;
}

.avatar-medium {
  height: 64px;
  width: 64px;
}

.card {
  background-color: var(--primary-color);
  border-radius: 12px;
  border-left: 8px solid var(--fuel-yellow);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.font-bold {
  font-weight: 700;
}
